/* @namespace tei "http://www.tei-c.org/ns/1.0"; */

tei {
    display: block;
    margin: 0.5em;
    max-width: 40em;
}

tei[rend="transcript"] {
	white-space: pre-wrap;
}

head[rend="flow"] {
    display: block;
    padding: 0.5em;
    font-size: 1.5em;
}

list {
    display: block;
}

item {
    display: list-item;
}

/* Règles concernant les transcriptions des manuscrits */

rubric {
    display: inline;
    color: brown;
}

hi {
    display: inline;
    font-size: 1.5em;
    color: brown;
}

    figure::before {
        display: block;
        content: '·Figure·';
    }

figDesc {
    display: block;
}

num {
    display: inline;
}

note {
    display: none;
}

    pb::before {
        display: inline-block;
        margin-top: 0.5em;
        padding-top: 0.5em;
        content: attr(n);
        font-family: 'TeX Gyre Chorus',
                    'Zapf Chancery',
                    'Lucida Calligraphy',
                    'Apple Chancery',
                    cursive;
        color: gray;
    }
    
    cb::before {
        display: inline-block;
        max-width: 6em;
        margin-top: 0.5em;
        padding-top: 0.5em;
        content: attr(n);
        font-family: 'TeX Gyre Chorus',
                    'Zapf Chancery',
                    'Lucida Calligraphy',
                    'Apple Chancery',
                    cursive;
        color: gray;
    }
    
    lb::before {
        display: block;
        content: '·';
    }

expan {
    display: inline;
}

ex {
    display: inline;
}

g {
    display: inline;
}

/* Règles concernant la description des corpus */

msDesc {
    display: block;
}

msIdenfifier {
    display: block;
}

    msIdentifier::before {
        display: block;
        content: 'Identification';
        font-size: 1.25em;
        color: navy;
    }

settlement {
    display: block;
}

    settlement::before {
        display: inline-block;
        content: '· Localité: ';
        color: gray;
    }

repository {
    display: block;
}

    repository::before {
        display: inline-block;
        content: '· Dépôt: ';
        color: gray;
    }

collection {
    display: block;
}

    collection::before {
        display: inline-block;
        content: '· Collection: ';
        color: gray;
    }

idno {
    display: block;
}

    idno::before {
        display: inline-block;
        content: '· Numéro identifiant: ';
        color: gray;
    }

altIdentifier {
    display: block;
}

    altIdentifier::before {
        display: inline-block;
        content: '· Identifiant alternatif: ';
        color: gray;
    }

bibl {
    display: block;
}

    bibl::before {
        display: inline-block;
        content: '· Bibliothèque: ';
        color: gray;
    }

publisher {
    display: block;
}

    publisher::before {
        display: inline-block;
        content: '· Éditeur: ';
        color: gray;
    }

pubPlace {
    display: block;
}

    pubPlace::before {
        display: inline-block;
        content: '· Lieu de publication: ';
        color: gray;
    }

date {
    display: block;
}

    date::before {
        display: inline-block;
        content: '· Date: ';
        color: gray;
    }
