/* @namespace tei "http://www.tei-c.org/ns/1.0"; */

tei {
    display: block;
    margin: 1em;
    max-width: 32em;
	white-space: pre-wrap;
}

title {
    display: block;
    margin: 1em auto;
    padding: 1em;
    font-size: 2em;
}

/* Règles concernant les transcriptions des manuscrits */

rubric {
    display: inline;
    color: brown;
}

hi {
    display: inline;
    font-size: 1.5em;
    color: brown;
}

figure::before {
    display: block;
    content: '·Figure·';
}

figDesc {
    display: block;
}

num {
    display: inline;
}

note {
    display: none;
}

pb::before {
    display: inline-block;
    margin-top: 0.5em;
    padding-top: 0.5em;
    content: attr(n);
    font-family: 'TeX Gyre Chorus',
                 'Zapf Chancery',
                 'Lucida Calligraphy',
                 'Apple Chancery',
                  cursive;
    color: gray;
}

cb::before {
    display: inline-block;
    max-width: 6em;
    margin-top: 0.5em;
    padding-top: 0.5em;
    content: attr(n);
    font-family: 'TeX Gyre Chorus',
                 'Zapf Chancery',
                 'Lucida Calligraphy',
                 'Apple Chancery',
                  cursive;
    color: gray;
}

lb::before {
    display: block;
    content: '·';
}

expan {
    display: inline;
}

ex {
    display: inline;
}

note {
    display: none;
}

/* Règles concernant la description des corpus */

msDesc{
    display: block;
}

msIdenfifier{
    display: block;
}
settlement{
    display: block;
}

repository{
    display: block;
}

collection{
    display: block;
}

idno{
    display: block;
}

altIdentifier{
    display: block;
}

bibl{
    display: block;
}

publisher{
    display: block;
}

pubPlace{
    display: block;
}

date{
    display: block;
}