/* @namespace tei "http://www.tei-c.org/ns/1.0"; */

tei {
    display: block;
    margin: 0.5em;
    max-width: 40em;
}

tei[rend="transcript"] {
	white-space: pre-wrap;
}

list {
    display: block;
}

item {
    display: list-item;
}

/* Règles concernant les transcriptions des manuscrits */

rubric {
    display: inline;
    color: brown;
}

hi {
    display: inline;
    font-size: 1.5em;
    color: brown;
}

    figure::before {
        display: block;
        margin-top: 0.25em;
        padding-top: 0.25em;
        content: '[' attr(desc) ']';
        font-family: cursive;
        color: gray;
    }

figDesc {
    display: block;
}

num {
    display: inline;
    font-variant: small-caps;
}

note {
    display: none;
}

    pb::before {
        display: inline-block;
        margin-top: 0.5em;
        padding-top: 0.5em;
        content: '[' attr(n) ']';
        font-family: 'TeX Gyre Chorus',
                     'Zapf Chancery',
                     'Lucida Calligraphy',
                     'Apple Chancery',
                     cursive;
        color: gray;
    }
    
    cb::before {
        display: inline-block;
        max-width: 6em;
        margin-top: 0.5em;
        padding-top: 0.5em;
        content: attr(n);
        font-family: 'TeX Gyre Chorus',
                     'Zapf Chancery',
                     'Lucida Calligraphy',
                     'Apple Chancery',
                     cursive;
        color: gray;
    }
    
    lb::before {
        display: inline-block;
        content: '·';
    }

expan {
    display: inline;
}

ex {
    display: inline;
    font-style: italic;
}

g {
    display: inline;
}

g[type="exposant"] {
    font-size: 80%;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

/* Règles concernant la description des corpus */

msDesc, bibl {
    display: block;
    border: 2px outset gray;
    padding: 0.5em;
    max-width: 66%;
}

msIdenfifier {
    display: block;
}

settlement {
    display: block;
    padding-left: 0.5em;
}

    settlement::before {
        display: block;
        content: 'Localité: ';
        color: gray;
    }

repository {
    display: block;
    padding-left: 0.5em;
}

    repository::before {
        display: block;
        content: 'Dépôt: ';
        color: gray;
    }

collection {
    display: block;
    padding-left: 0.5em;
}

    collection::before {
        display: block;
        content: 'Collection: ';
        color: gray;
    }

idno {
    display: block;
    padding-left: 0.5em;
}

    idno::before {
        display: block;
        content: 'Numéro identifiant: ';
        color: gray;
    }

altIdentifier {
    display: block;
    padding-left: 0.5em;
}

    altIdentifier::before {
        display: block;
        content: 'Identifiant alternatif: ';
        color: gray;
    }

publisher {
    display: block;
    padding-left: 0.5em;
}

    publisher::before {
        display: block;
        content: 'Éditeur: ';
        color: gray;
    }

pubPlace {
    display: block;
    padding-left: 0.5em;
}

    pubPlace::before {
        display: block;
        content: 'Lieu de publication: ';
        color: gray;
    }

date {
    display: block;
    padding-left: 0.5em;
}

    date::before {
        display: block;
        content: 'Date: ';
        color: gray;
    }
