								

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://twitter.com/H_U_15" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.instagram.com/histoiresuniverselles15/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/HU15/histoires-universelles-xv" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
							</ul>
                            <p class="copyright">Ce projet est publié sous licence <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.fr">Creative
                                        Commons Attribution, Partage dans les mêmes conditions 4.0</a>.</p>
                            
                               <p class="copyright">Ce projet utilise la bibliothèque Javascript <a href=" https://github.com/TEIC/CETEIcean">CETEIcean</a>, conçue par Hugh Cayless et Raffaele Viglianti.</p>
                            
                            <p class="copyright"><a href="@@webRoot/equipe.html">L'équipe de recherche</a>.</p>
                            
                            <p class="copyright">Ce projet a été rendu possible par une subvention du Conseil de Recherches en Sciences Humaines du Canada (CRSH), dans le cadre du concours <em>Subvention de développement Savoir</em>. Une subvention Savoir (2018-2023) lui permet désormais de s'étendre.</p> 
                            
                            
                            
							<ul class="copyright">
								<li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>