<!-- Header -->
					<header id="header" class="alt">
						<a href="@@webRoot/index.html" class="logo"><strong>HU15</strong></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="@@webRoot/index.html">Accueil</a></li>
							<li><a href="@@webRoot/Textes.html">Textes</a></li>
							<li><a href="@@webRoot/Manuscrits.html">Manuscrits</a></li>
							<li><a href="@@webRoot/Fiches_codicologiques.html">Fiches codicologiques</a></li>
                            <li><a href="@@webRoot/Rubriques.html">Tables des rubriques</a></li>
                            <li><a href="@@webRoot/Illustrations.html">Tables des illustrations</a></li>
                            <li><a href="@@webRoot/Transcriptions.html">Transcriptions</a></li>
                            <li><a href="@@webRoot/equipe.html">L'équipe de recherche</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="@@webRoot/Textes.html" class="button primary fit">Explorer les textes</a></li>
							<li><a href="@@webRoot/liste_ms.html" class="button primary fit">Explorer par manuscrit</a></li>
						</ul>
					</nav>