<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y9XPJ39EJQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y9XPJ39EJQ');
</script>
    
    
		<title>H(istoires) U(niverselles) 15</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="description" content="@@description"/>
		<link rel="stylesheet" href="@@webRoot/assets/css/main.css" />
      <link rel="stylesheet" href="@@webRoot/assets/css/tei.css">
    
		<noscript><link rel="stylesheet" href="@@webRoot/assets/css/noscript.css" /></noscript>
	</head>
