p.break {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  border-top: thin solid silver;
  color: gray;
}
tei-byline {
  display: block;
  text-align: center;
}
tei-closer {
  display: block;
}
tei-closer>tei-salute {
  display: block;
}
tei-closer>tei-signed {
  display: block;
  text-align: right;
}
tei-div {
  display: block;
}
tei-div[type=dedication]>tei-lg {
  margin: auto;
  text-align: center;
}
tei-docauthor {
  display: block;
  text-align: center;
}
tei-docauthor>tei-name {
  display: block;
  font-size: 2em;
}
tei-docimprint {
  display: block;
  margin-top: 10em;
  text-align: center;
}
tei-doctitle>tei-titlepart {
  display: block;
  text-align: center;
}
tei-doctitle>tei-titlepart[type=main] {
  font-size: 3em;
}
tei-doctitle>tei-titlepart[type=subtitle] {
  font-size: 2em;
}
tei-emph[rend=bold] {
  font-weight: bold;
}
tei-figure {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}
tei-figure>tei-p {
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
tei-hi[rend=italics] {
  font-style: italic;
}
tei-l {
  display: block;
}
tei-lg {
  display: block;
  margin-left: 5em;
}
tei-list[type=simple] {
  list-style-type: none;
}
tei-list[type=simple]>tei-item {
  display: list-item;
}
tei-p {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
  text-align: justify;
}
tei-tei {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
tei-text {
  display: block;
  width: 750px;
  margin: auto;
}
tei-titlepage {
  display: block;
}


/* Règles concernant la description des corpus */

tei-msDesc {
    display: block;
    border-left: 2px outset gray;
    border-radius: 0px 5px 5px 0px;
    background: rgb(221, 221, 222);
    margin: 0.5em 0;
    padding: 0.5em;
    max-width: 40em;
}

tei-bibl {
    display: block;
    border-left: 2px outset gray;
    border-radius: 0px 5px 5px 0px;
    background: rgb(221, 221, 222);
    margin: 0.5em 0;
    padding: 0.5em;
    max-width: 40em;
}

tei-msIdenfifier {
    display: block;
}

tei-settlement {
    display: inline;

}


tei-settlement:first-of-type::before {
    display: inline;
    content: ' ';
    color: gray;
}

tei-settlement::after {
    display: inline;
    content: ',';
}

tei-settlement:last-child::after {
    display: inline;
    content: '.';
}

tei-repository {
    display: inline;
}

tei-repository:first-of-type::before {
    display: inline;
    content: ' ';
    color: gray;
}

tei-repository::after {
    display: inline;
    content: ',';
}

tei-repository:last-child::after {
    display: inline;
    content: '.';
}

tei-collection {
    display: inline;
}

tei-collection:first-of-type::before {
    display: inline;
    content: ' ';
    color: gray;
}

tei-collection::after {
    display: inline;
    content: ',';
}

tei-collection:last-child::after {
    display: inline;
    content: '.';
}

tei-idno {
    display: inline;
}

tei-idno:first-of-type::before {
    display: inline;
    content: ' ';
    color: gray;
}

tei-idno::after {
    display: inline;
    content: ',';
}

tei-idno:last-child::after {
    display: inline;
    content: '.';
}

tei-altIdentifier {
    display: inline-block;
}

tei-altIdentifier::before {
    display: inline-block;
    content: '[id. alt.]';
    color: gray;
}

tei-publisher {
    display: inline;
}

tei-publisher:first-of-type::before {
    display: inline;
    content: ' ';
    color: gray;
}

tei-publisher::after {
    display: inline;
    content: ',';
}

tei-publisher:last-child::after {
    display: inline;
    content: '.';
}

tei-pubPlace {
    display: inline;
}

tei-pubPlace:first-of-type::before {
    display: inline;
    content: ' ';
    color: gray;
}

tei-pubPlace::after {
    display: inline;
    content: ',';
}

tei-pubPlace:last-child::after {
    display: inline;
    content: '.';
}

tei-date {
    display: inline;
}

tei-date:first-of-type::before {
    display: inline;
    content: ' ';
    color: gray;
}

tei-date::after {
    display: inline;
    content: ',';
}

tei-date:last-child::after {
    display: inline;
    content: '.';
}


tei-msDesc cite::after {
    content: ',';
    font-style: normal;
}

tei-bibl cite::after {
    content: ',';
    font-style: normal;
}

tei-bibl cite:last-child::after {
    content: '.';
    font-style: normal;
}


tei-msDesc cite:last-child::after {
    content: '.';
    font-style: normal;
}


/*ajout lien hypertexte*/

tei-ref:hover {
  color: #C39EA0;
  text-decoration: underline;
  cursor: pointer;
}


/* Règles concernant les transcriptions des manuscrits */

tei-rubric {
    display: inline;
    color: brown;
}

tei-hi {
    display: inline;
    font-size: 1.5em;
    color: brown;
}


tei-num {
    display: inline;
    font-variant: small-caps;
}

tei-note {
    display: none;
}

tei-pb::before {
    display: inline-block;
    margin-top: 0.5em;
    padding-top: 0.5em;
    content: '[' attr(n) ']';
    font-family: 'TeX Gyre Chorus',
    'URW Chancery',
    'Zapf Chancery',
    'Lucida Calligraphy',
    'Apple Chancery',
    'Palatino',
    serif;
    color: gray;
}

tei-cb::before {
    display: inline-block;
    max-width: 6em;
    margin-top: 0.5em;
    padding-top: 0.5em;
    content: '[' attr(n) ']';
    font-family: 'TeX Gyre Chorus',
    'URW Chancery',
    'Zapf Chancery',
    'Lucida Calligraphy',
    'Apple Chancery',
    'Palatino',
    serif;
    color: gray;
}

tei-lb::after {
    display: block;

}

tei-expan {
    display: inline;
}

tei-ex {
    display: inline;
    font-style: italic;
}

tei-g {
    display: inline;
}

tei-g[type="exposant"] {
    font-size: 80%;
    vertical-align: super;
    position: relative;
    top: -0.4em;
}

tei-g[type="pied-de-mouche"]::before {
    content: '❡';
}